SECRET_KEY=change-me
DB_PASSWORD=change-me
IM_DB_PASSWORD=change-me
DB_USER=change-me
IM_DB_USER=change-me
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=change-me
TUNISIESMS_API_KEY=change-me
TUNISIESMS_SENDER=LEONI
TUNISIESMS_API_URL=https://app.tunisiesms.tn/api/Api.aspx
